a {
    text-decoration: none;
    color: inherit;
}

.follow-item {
    background-color: rgba(91, 112, 131, 0.4);
}

.search-icon {
    color: black;
}

.img-text {
    position: relative;
    bottom: 70px;
    margin-left: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.post-summary {
    bottom: 50px;
}

/*.recommendation-post {*/
/*    position: relative;*/
/*}*/


/*.list-group-item {*/
/*    !*color: white;*!*/
/*    background-color: black;*/
/*}*/

/*.recommendation-image {*/
/*    !*width: 100%;*!*/
/*    !*margin: 0px 0 10px 0;*!*/
/*    !*border-top: solid 1px rgb(110, 118, 125);*!*/
/*}*/


/*.recommendation-image-title {*/
/*    !*position: absolute;*!*/
/*    !*left: 5px;*!*/
/*    !*bottom: 12px;*!*/
/*    !*font-size: 25px;*!*/
/*    !*font-weight: bold;*!*/
/*    !*color: white;*!*/
/*}*/

/*.recommendation-image-title > img {*/
/*    height: 25px;*/
/*    width: 25px;*/
/*}*/

/*.search-bar {*/
/*    padding-top: 10px;*/
/*    padding-left: 20px;*/
/*}*/



/*.search-icon {*/
/*    color: rgb(110, 118, 125);*/
/*    z-index: 100;*/
/*    position: absolute;*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*}*/

/*.settings-icon {*/
/*    margin-top: 10px;*/
/*    margin-right: 20px;*/
/*    color:white;*/
/*    padding-left: 10px;*/
/*}*/

/*.btn-tuit {*/
/*    !*background-color: #26a7de;*!*/
/*    !*border-color: black;*!*/
/*    !*margin: 10px 0 0 0;*!*/
/*    !*padding: 10px;*!*/
/*}*/

/*.btn-follow {*/
/*    !*margin-top: -15px;*!*/
/*    !*float: right;*!*/
/*    !*position: relative;*!*/
/*    !*background-color: white;*!*/
/*    !*color: black;*!*/
/*    !*font-weight: bold;*!*/
/*    !*border-color: rgba(91, 112, 131, 0.4);*!*/
/*}*/

/*.follow-img {*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    border-radius: 50px;*/
/*    margin-right:  10px;*/
/*}*/


/*.wd-nav-bar {*/
/*    !*padding-right : 10px;*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*width: 100%;*!*/
/*    !*list-style-type: none;*!*/
/*    !*margin-bottom: 0;*!*/
/*}*/

/*.wd-nav-tab {*/
/*    !*font-size: 15px;*!*/
/*    !*padding: 16px;*!*/
/*    !*width: 100%;*!*/
/*}*/

/*.wd-tab-selected {*/
/*    padding:0 0 17px 0;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    border-bottom: solid 6px rgb(29,161,242);*/
/*}*/

/*.wd-tab-unselected {*/
/*    color: rgb(110, 118, 125);*/
/*}*/


/*.wd-nav-bar > li {*/
/*    !*display: inline-block;*!*/
/*    margin-right: 10px;*/
/*    !*width: 200%;*!*/
/*}*/

/*.wd-tuit-post {*/
/*    padding: 10px;*/
/*    font-stretch: ultra-condensed;*/
/*    width: 100%;*/
/*}*/

/*.tuit-author-name {*/
/*    color: white;*/
/*    float:left;*/
/*}*/

/*.wd-tuit-post > img {*/
/*    !*margin-right: 16px;*!*/
/*    !*height: 100px;*!*/
/*    !*width: 100px;*!*/
/*    !*display: inline-block;*!*/
/*    !*float: right;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*white-space: nowrap;*!*/
/*}*/

/*.blank {*/
/*    margin-right: 16px;*/
/*    display: inline-block;*/
/*    float: right;*/
/*    border-radius: 30px;*/
/*}*/

/*.wd-tuit-topic {*/
/*    font-size: 13px;*/
/*    color: rgb(110, 118, 125);*/
/*}*/

/*.wd-tuit-author {*/
/*    display: inline;*/
/*    font-weight: bold;*/
/*    font-size: 13px;*/
/*    color: rgb(110, 118, 125);*/
/*}*/


/*.tuit-date {*/
/*    display:inline;*/
/*    white-space: nowrap;*/
/*    font-weight: lighter;*/
/*}*/

/*.wd-tuit-post .wd-tuit-author img {*/
/*    border-radius: 50px;*/
/*}*/

/*.wd-tuit-author img {*/
/*    height:12px;*/
/*    width: 12px;*/
/*}*/

/*.wd-tuit-title {*/
/*    !*display: block;*!*/
/*    !*font-weight: bold;*!*/
/*    !*font-size: 15px;*!*/
/*    !*color: white;*!*/
/*}*/

/*.wd-tuit-also-trending {*/
/*    color: rgb(110, 118, 125);*/
/*    font-size: 13px;*/
/*}*/

/*.wd-tuit-also-trending > a {*/
/*    color: rgb(29,161,242);*/
/*}*/

/*.wd-tuit-count {*/
/*    !*font-size: 13px;*!*/
/*    !*color: rgb(110, 118, 125);*!*/
/*}*/

/*.wd-tuit-handle {*/
/*    !*float: left;*!*/
/*    !*color: rgb(110, 118, 125);*!*/
/*    !*display: inline;*!*/
/*    !*font-weight: lighter;*!*/
/*    !*font-size: 11px;*!*/
/*    !*clear: right;*!*/
/*}*/


/*.tabs-container {*/
/*    !*margin-top: 20px;*!*/
/*    !*padding-top: 10px;*!*/
/*}*/

/*.main-content {*/
/*    !*padding-right: 0;*!*/
/*    !*border-radius: 0;*!*/
/*    !*border-left: rgb(110, 118, 125) solid  1px;*!*/
/*    !*border-right: rgb(110, 118, 125) solid 1px;*!*/
/*}*/

/*.input-group {*/
/*    padding-left: 50px;*/
/*    padding-top: 20px;*/
/*}*/
/*
.list-follow {
    !*padding-right: 30px;*!
    !*--bs-list-group-action-hover-bg: rgba(91, 112, 131, 0.4);*!
    !*margin-top: 15px;*!
    !*font-weight: bold;*!
    !*border-radius: 20px;*!
    !*padding-left: 30px;*!
    !*height: 100%;*!
}*/




/*.follow-item {*/
/*    height: 60px;*/
/*    border: 0;*/
/*}*/


/*.follow-item > img{*/
/*    float: left;*/
/*}*/

/*.verified-mark > img{*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    border-radius: 10px;*/
/*}*/

/*.tuit-account-name {*/
/*    color: white;*/
/*    float: left;*/
/*}*/

/*.selected {*/
/*    font-weight: bold;*/
/*}*/

/*.list-group-hover .list-group-item:hover {*/
/*    background-color: black;*/
/*}*/


/*.blue-link {*/
/*    padding-top: 10px;*/
/*    float: left;*/
/*    font-weight: lighter;*/
/*    color:  rgb(29,161,242);*/
/*    padding-bottom: 10px;*/
/*}*/


/*.tuiter-pages > .list-group-item > i {*/
/*    padding: 10px;*/
/*}*/

/*.tuit-policy {*/
/*    color: rgb(110, 118, 125);*/
/*    padding: 10px;*/
/*    font-size: 11px;*/
/*    font-weight: lighter;*/
/*    display: inline;*/
/*}*/

/*.tuit-policy > a{*/
/*    padding: 10px;*/
/*}*/